/*------------------------------------*\
    # base.globals
\*------------------------------------*/

/**
 * Initialize typomatic in project (sets font-size and line-height
 * on html selector.
 */
 
*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    height: 100%;
    font-size: responsive;
    /* scroll-behavior: smooth; */
    
    /* scrollbar-color: $color-primary $grey-2; */
    scrollbar-width: thin;
}

body {
    min-height: 100%;
    overflow-x: hidden;
    margin: 0;
    background: $body-background;

    font-family: $ff-sans;
    line-height: 1.5;
    color: #2c2f31;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

svg {
    max-width: 100%;
}
