/*------------------------------------*\
    # base.globals
\*------------------------------------*/

/**
 * Initialize typomatic in project (sets font-size and line-height
 * on html selector.
 */
html {
    height: 100%;
    font-size: responsive;
}

body {
    min-height: 100%;
    overflow-x: hidden;
    margin: 0;

    background: $background;
    color: $color-text;

    font-family: $ff-sans;
    line-height: 1.5;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

svg {
    max-width: 100%;
}
