/*------------------------------------*\
    # component.btn
\*------------------------------------*/

.c-btn {
    /**
 * Button base
*/
    /* To keep the button inline, and flex container at the same time */
    display: inline-flex;
    align-items: center;
    align-self: center;
    justify-content: center;

    touch-action: manipulation;
    user-select: none;

    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;

    &:focus {
        outline: 0;
    }

    /**
 * Button base project styling
*/
    min-width: 100px;
    font-family: $ff-sans;
    font-weight: $type-weight-medium;
    border-radius: $radius-base;
    transition: all 300ms $transition;

    &--sml {
        padding: 4px;
        font-size: 12px;
    }

    &--base {
        padding: calc($unit * 4) calc($unit * 8);
        font-size: 18px;
        line-height: 24px;
    }

    &--lrg {
        padding: 8px;
        font-size: 12px;
    }

    &--primary {
        background: $color-primary;
        color: $color-text-light;
        border: 1px solid transparent;

        &:hover {
            background: color($color-primary blackness(+10%));
        }

        &:focus {
            color: $color-text-dark;
            outline: 0;
            border-radius: $radius-base;
            box-shadow: 0px 0px 0px 2px $color-secondary inset;
        }
    }

    &--outline {
        background-color: transparent;
        border: 1px solid $color-text-dark;
        
        &:hover {
            color: $white;
            background: color($color-primary a(1));
            border: 1px solid color($color-primary a(1));
        }
        
        &--primary {
            color: $color-primary;
            border: 1px solid $color-primary;
        }
    }
}
