/*------------------------------------*\
    # component.header
\*------------------------------------*/

.c-header {
    &__logo {
        width: 182px;
        height: calc($unit * 9);

        background-image: svg-load('assets/postcss-svg/logo.svg');
        background-repeat: no-repeat;
        background-size: 180px;
    }

    &__navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: calc($unit * 8);

        &__item {
            font-size: 16px;
            line-height: 24px;
            font-weight: $type-weight-medium;

            transition: all 250ms ease-in-out;
            cursor: pointer;

            &:hover {
                color: $color-primary;
            }
        }

        &__link {
            color: $color-text-dark;

            &:hover {
                color: $color-primary;
            }
        }
    }
}
