/*------------------------------------*\
    # component.container
\*------------------------------------*/

.container {
    width: 100%;
    margin: 0 auto;

    &--tny {
        max-width: 500px;
    }

    &--sml {
        max-width: 900px;
    }

    &--base {
        max-width: 1180px;
    }

    &--lrg {
        max-width: 1440px;
    }

    &--dark {
        background-color: $color-text;
        color: $white;
    }

    &--light-06 {
        background-color: $color-primary-06;
    }
}
