/*------------------------------------*\
    # component.nav
\*------------------------------------*/

.nav {
    &__wrapper {
        display: none;

        @media (--screen-from-lrg) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

    }

    &__link {
        position: relative;
        display: inline-block;
        padding: calc($unit * 2) calc($unit * 4);
        color: $white;

        font-size: responsive $type-small $type-base;
        font-range: 320px 1440px;

        line-height: responsive 20px 28px;
        line-height-range: 320px 1440px;

        transition: all 250ms ease-out;

        &::before {
            content: "";
            position: absolute;
            display: block;
            bottom: 0;
            left: auto;
            right: 0;
            width: 0;
            height: 1px;
            background-color: $color-primary;
            transition: all 250ms cubic-bezier(0.65, 0, 0.17, 0.98);
        }

        &:hover,
        &:focus {
            color: $color-primary;

            &::before {
                content: "";
                left: 0;
                right: auto;
                width: 100%;
            }
        }

        &:focus {

        }
    }
}

@keyframes linkHoverOut {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
        right: 0;
    }
}
