/*------------------------------------*\
    # component.awards
\*------------------------------------*/

.awards {
    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__card {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 23%;

        padding: calc($unit * 8);

        background-color: #1E2633;
        border-radius: $radius-base;

        &--large {
            width: 50%;
        }
    }
}
