.c-about {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: calc($unit * 20);

        margin-left: auto;

        &--secondary {
            margin-right: auto;

            & .c-about__media {
                order: 1;
                box-shadow: 12px 12px 0px 0px #A77EFF;
            }

            & .c-about__info {
                order: 2;
            }
        }
    }

    &__info {
        max-width: 500px;
    }

    &__media {
        width: 100%;
        display: flex;
        justify-content: center;

        border: 1px solid $color-primary;
        box-shadow: -12px 12px 0px 0px #a77eff;

        video {
            max-width: 710px;
            height: 514px;
        }
    }
}
