/*------------------------------------*\
    # component.input
\*------------------------------------*/

.input {
    /**
     * Input base
     */
    display: inline-block;
    width: 100%;

    vertical-align: middle;
    cursor: pointer;
    touch-action: manipulation;
    appearance: none;
    transition: border-color 200ms;
    -webkit-appearance: none;
    border-radius: $radius-base;
    background-color: transparent;

    /**
     * Input base project styling
     */
    font-family: $ff-sans;
    border: 0;
    border-bottom: 1px solid $color-text;
    border-radius: 0;
    transition: all 250ms $transition;

    &::placeholder {
        color: color($grey-6 blackness(+10%));
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &:invalid {
        border: 1px solid $color-warning;
    }

    &:focus {
        outline: 0;
        background-color: color($color-text a(0.1));
        padding-left: calc($unit * 2);
        padding-right: calc($unit * 2);
    }

    &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }

    /**
     * Input sizes
     */
    &--sml {
        font-size: $type-small;
        height: calc($unit * 8);
        line-height: calc($unit * 8);
    }

    &--base {
        font-size: $type-base;
        height: calc($unit * 8);
        line-height: calc($unit * 8);
    }

    &--med {
        font-size: $type-medium;
        height: calc($unit * 10);
        line-height: calc($unit * 10);
        padding: calc($unit * 2) 0;
    }

    &--lrg {
        font-size: $type-large;
        height: calc($unit * 12);
        line-height: calc($unit * 12);
    }

    /**
     * Input types
     */
    &--text {
        width: 100%;
    }

    &--textarea {
         width: 100%;
         max-width: 100%;
    }
    
    &--warning {
        border: 1px solid $color-warning;
    }
}
