/*------------------------------------*\
    # component.blog
\*------------------------------------*/

.blog {
    &__card {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        border-radius: $radius-base;
        background-color: #1E2633;

        &__body {
            padding: calc($unit * 6);
            color: #ffffff;

        }
    }
}
