/*------------------------------------*\
    # component.hero
\*------------------------------------*/

.hero {
    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 20vh;

        @media (--screen-from-lrg) {
            padding-top: 10%;
            min-height: 70vh;
        }
    }

    &__title {
        font-size: responsive $type-medium 130px;
        font-range: 320px 1440px;

        line-height: responsive 32px 144px;
        line-height-range: 320px 1440px;

        &--ml {
            color: $color-primary;
        }
    }

    &__more {
        display: none;
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;

        @media (--screen-from-lrg) {
            display: inline-block;
        }
    }
}
