/*------------------------------------*\
    # component.showcase
\*------------------------------------*/

.showcase {
    &__wrapper {
        display: flex;
        flex-direction: column;

        @media (--screen-from-lrg) {
            flex-direction: row;
            justify-content: space-between;
        }

        @media (--screen-from-xlrg) {
            flex-direction: column;
            justify-content: normal;
        }
    }

    &__card {
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        padding: calc($unit * 8);
        margin-bottom: calc($unit * 12);

        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: cover;
        border-radius: $radius-base;

        transition: all 1000ms ease-out;

        @media (--screen-from-lrg) {
            width: 30%;
        }

        @media (--screen-from-xlrg) {
            width: 100%;;
            min-height: 560px;
            padding: calc($unit * 16);
        }

        &--deep-learning {
            background-color: #054477;

            @media (--screen-from-lrg) {
                background-image: url('/img/homepage/showcase/deep-learning.svg');
            }
        }

        &--screening {
            background-color: #3E8785;

            @media (--screen-from-lrg) {
                background-image: url('/img/homepage/showcase/background-screening.svg');
            }
        }

        &--crawling {
            background-color: #91203E;

            @media (--screen-from-lrg) {
                background-image: url('/img/homepage/showcase/web-crawling.svg');
            }
        }
    }

    &__copy {
        z-index: 1;
        text-align: center;

        @media (--screen-from-xlrg) {
            width: 30%;
            text-align: left;
        }
    }

    &__body {
        margin-bottom: calc($unit * 8);
    }

    &__title {
        margin-bottom: calc($unit * 4);

        font-size: responsive $type-base $type-xlarge;
        font-range: 320px 1440px;

        line-height: responsive 28px 44px;
        line-height-range: 320px 1440px;
    }
}
