/*------------------------------------*\
# utils.margins
\*------------------------------------*/

.u {
    &-mt {
        &--sml {
            &--1 {
                margin-top: $unit;
            }
            &--2 {
                margin-top: calc($unit * 2);
            }
            &--3 {
                margin-top: calc($unit * 3);
            }
            &--4 {
                margin-top: calc($unit * 4);
            }
            &--5 {
                margin-top: calc($unit * 5);
            }
        }

        &--med {
            @media (--screen-from-sml) {
                &--1 {
                    margin-top: $unit;
                }
                &--2 {
                    margin-top: calc($unit * 2);
                }
                &--3 {
                    margin-top: calc($unit * 3);
                }
                &--4 {
                    margin-top: calc($unit * 4);
                }
                &--5 {
                    margin-top: calc($unit * 5);
                }
            }
        }

        &--lrg {
            @media (--screen-from-med) {
                &--1 {
                    margin-top: $unit;
                }
                &--2 {
                    margin-top: calc($unit * 2);
                }
                &--3 {
                    margin-top: calc($unit * 3);
                }
                &--4 {
                    margin-top: calc($unit * 4);
                }
                &--5 {
                    margin-top: calc($unit * 5);
                }
            }
        }

        &--xlrg {
            @media (--screen-from-lrg) {
                &--1 {
                    margin-top: $unit;
                }
                &--2 {
                    margin-top: calc($unit * 2);
                }
                &--3 {
                    margin-top: calc($unit * 3);
                }
                &--4 {
                    margin-top: calc($unit * 4);
                }
                &--5 {
                    margin-top: calc($unit * 5);
                }
            }
        }

        &--xxlrg {
            @media (--screen-from-xlrg) {
                &--1 {
                    margin-top: $unit;
                }
                &--2 {
                    margin-top: calc($unit * 2);
                }
                &--3 {
                    margin-top: calc($unit * 3);
                }
                &--4 {
                    margin-top: calc($unit * 4);
                }
                &--5 {
                    margin-top: calc($unit * 5);
                }
            }
        }

        &--huge {
            @media (--screen-from-xxlrg) {
                &--1 {
                    margin-top: $unit;
                }
                &--2 {
                    margin-top: calc($unit * 2);
                }
                &--3 {
                    margin-top: calc($unit * 3);
                }
                &--4 {
                    margin-top: calc($unit * 4);
                }
                &--5 {
                    margin-top: calc($unit * 5);
                }
            }
        }
    }

    &-mr {
        &--sml {
            &--1 {
                margin-right: $unit;
            }
            &--2 {
                margin-right: calc($unit * 2);
            }
            &--3 {
                margin-right: calc($unit * 3);
            }
            &---4 {
                margin-right: calc($unit * 4);
            }
            &--5 {
                margin-right: calc($unit * 5);
            }
        }

        &--med {
            @media (--screen-from-sml) {
                &--1 {
                    margin-right: $unit;
                }
                &--2 {
                    margin-right: calc($unit * 2);
                }
                &--3 {
                    margin-right: calc($unit * 3);
                }
                &--4 {
                    margin-right: calc($unit * 4);
                }
                &--5 {
                    margin-right: calc($unit * 5);
                }
            }
        }

        &--lrg {
            @media (--screen-from-med) {
                &--1 {
                    margin-right: $unit;
                }
                &--2 {
                    margin-right: calc($unit * 2);
                }
                &--3 {
                    margin-right: calc($unit * 3);
                }
                &--4 {
                    margin-right: calc($unit * 4);
                }
                &--5 {
                    margin-right: calc($unit * 5);
                }
            }
        }

        &--xlrg {
            @media (--screen-from-lrg) {
                &--1 {
                    margin-right: $unit;
                }
                &--2 {
                    margin-right: calc($unit * 2);
                }
                &--3 {
                    margin-right: calc($unit * 3);
                }
                &--4 {
                    margin-right: calc($unit * 4);
                }
                &--5 {
                    margin-right: calc($unit * 5);
                }
            }
        }

        &--xxlrg {
            @media (--screen-from-xlrg) {
                &--1 {
                    margin-right: $unit;
                }
                &--2 {
                    margin-right: calc($unit * 2);
                }
                &--3 {
                    margin-right: calc($unit * 3);
                }
                &--4 {
                    margin-right: calc($unit * 4);
                }
                &--5 {
                    margin-right: calc($unit * 5);
                }
            }
        }

        &--huge {
            @media (--screen-from-xxlrg) {
                &--1 {
                    margin-right: $unit;
                }
                &--2 {
                    margin-right: calc($unit * 2);
                }
                &--3 {
                    margin-right: calc($unit * 3);
                }
                &--4 {
                    margin-right: calc($unit * 4);
                }
                &--5 {
                    margin-right: calc($unit * 5);
                }
            }
        }
    }

    &-mb {
        &--sml {
            &--1 {
                margin-bottom: $unit;
            }
            &--2 {
                margin-bottom: calc($unit * 2);
            }
            &--3 {
                margin-bottom: calc($unit * 3);
            }
            &---4 {
                margin-bottom: calc($unit * 4);
            }
            &--5 {
                margin-bottom: calc($unit * 5);
            }
        }

        &--med {
            @media (--screen-from-sml) {
                &--1 {
                    margin-bottom: $unit;
                }
                &--2 {
                    margin-bottom: calc($unit * 2);
                }
                &--3 {
                    margin-bottom: calc($unit * 3);
                }
                &--4 {
                    margin-bottom: calc($unit * 4);
                }
                &--5 {
                    margin-bottom: calc($unit * 5);
                }
            }
        }

        &--lrg {
            @media (--screen-from-med) {
                &--1 {
                    margin-bottom: $unit;
                }
                &--2 {
                    margin-bottom: calc($unit * 2);
                }
                &--3 {
                    margin-bottom: calc($unit * 3);
                }
                &--4 {
                    margin-bottom: calc($unit * 4);
                }
                &--5 {
                    margin-bottom: calc($unit * 5);
                }
            }
        }

        &--xlrg {
            @media (--screen-from-lrg) {
                &--1 {
                    margin-bottom: $unit;
                }
                &--2 {
                    margin-bottom: calc($unit * 2);
                }
                &--3 {
                    margin-bottom: calc($unit * 3);
                }
                &--4 {
                    margin-bottom: calc($unit * 4);
                }
                &--5 {
                    margin-bottom: calc($unit * 5);
                }
            }
        }

        &--xxlrg {
            @media (--screen-from-xlrg) {
                &--1 {
                    margin-bottom: $unit;
                }
                &--2 {
                    margin-bottom: calc($unit * 2);
                }
                &--3 {
                    margin-bottom: calc($unit * 3);
                }
                &--4 {
                    margin-bottom: calc($unit * 4);
                }
                &--5 {
                    margin-bottom: calc($unit * 5);
                }
            }
        }

        &--huge {
            @media (--screen-from-xxlrg) {
                &--1 {
                    margin-bottom: $unit;
                }
                &--2 {
                    margin-bottom: calc($unit * 2);
                }
                &--3 {
                    margin-bottom: calc($unit * 3);
                }
                &--4 {
                    margin-bottom: calc($unit * 4);
                }
                &--5 {
                    margin-bottom: calc($unit * 5);
                }
            }
        }
    }

    &-ml {
        &--sml {
            &--1 {
                margin-left: $unit;
            }
            &--2 {
                margin-left: calc($unit * 2);
            }
            &--3 {
                margin-left: calc($unit * 3);
            }
            &---4 {
                margin-left: calc($unit * 4);
                &--5 {
                    margin-left: calc($unit * 5);
                }
            }

            &--med {
                @media (--screen-from-sml) {
                    &--1 {
                        margin-left: $unit;
                    }
                    &--2 {
                        margin-left: calc($unit * 2);
                    }
                    &--3 {
                        margin-left: calc($unit * 3);
                    }
                    &--4 {
                        margin-left: calc($unit * 4);
                    }
                    &--5 {
                        margin-left: calc($unit * 5);
                    }
                }
            }

            &--lrg {
                @media (--screen-from-med) {
                    &--1 {
                        margin-left: $unit;
                    }
                    &--2 {
                        margin-left: calc($unit * 2);
                    }
                    &--3 {
                        margin-left: calc($unit * 3);
                    }
                    &--4 {
                        margin-left: calc($unit * 4);
                    }
                    &--5 {
                        margin-left: calc($unit * 5);
                    }
                }
            }

            &--xlrg {
                @media (--screen-from-lrg) {
                    &--1 {
                        margin-left: $unit;
                    }
                    &--2 {
                        margin-left: calc($unit * 2);
                    }
                    &--3 {
                        margin-left: calc($unit * 3);
                    }
                    &--4 {
                        margin-left: calc($unit * 4);
                    }
                    &--5 {
                        margin-left: calc($unit * 5);
                    }
                }
            }

            &--xxlrg {
                @media (--screen-from-xlrg) {
                    &--1 {
                        margin-left: $unit;
                    }
                    &--2 {
                        margin-left: calc($unit * 2);
                    }
                    &--3 {
                        margin-left: calc($unit * 3);
                    }
                    &--4 {
                        margin-left: calc($unit * 4);
                    }
                    &--5 {
                        margin-left: calc($unit * 5);
                    }
                }
            }

            &--huge {
                @media (--screen-from-xxlrg) {
                    &--1 {
                        margin-left: $unit;
                    }
                    &--2 {
                        margin-left: calc($unit * 2);
                    }
                    &--3 {
                        margin-left: calc($unit * 3);
                    }
                    &--4 {
                        margin-left: calc($unit * 4);
                    }
                    &--5 {
                        margin-left: calc($unit * 5);
                    }
                }
            }
        }
    }
}
