/*------------------------------------*\
    # utils.type
\*------------------------------------*/

.u-type {
    /* Font letterform */
    &--sans {
        font-family: $ff-sans;
    }

    &--sans-mono {
        font-family: $ff-sans-mono;
    }

    &--serif {
        font-family: $ff-serif;
    }

    /* Font sizes */
    &--tny {
        font-size: $type-tiny;
        line-height: 16px;
    }

    &--sml {
        font-size: responsive $type-tiny $type-small;
        font-range: 320px 1440px;

        line-height: responsive 16px 20px;
        line-height-range: 320px 1440px;
    }

    &--base {
        font-size: responsive $type-small $type-base;
        font-range: 320px 1440px;

        line-height: responsive 20px 28px;
        line-height-range: 320px 1440px;
    }

    &--med {
        font-size: responsive $type-base $type-medium;
        font-range: 320px 1440px;

        line-height: responsive 28px 32px;
        line-height-range: 320px 1440px;
    }

    &--lrg {
        font-size: responsive $type-medium $type-large;
        font-range: 320px 1440px;

        line-height: responsive 32px 40px;
        line-height-range: 320px 1440px;
    }

    &--xlrg {
        font-size: responsive $type-large $type-xlarge;
        font-range: 320px 1440px;

        line-height: responsive 40px 44px;
        line-height-range: 320px 1440px;
    }

    &--xxlrg {
        font-size: responsive $type-xlarge $type-xxlarge;
        font-range: 320px 1440px;

        line-height: responsive 44px 52px;
        line-height-range: 320px 1440px;
    }

    &--xxxlrg {
        font-size: responsive $type-xxlarge $type-xxxlarge;
        font-range: 320px 1440px;

        line-height: responsive 52px 68px;
        line-height-range: 320px 1440px;
    }

    /* Font weights */
    &--wgt {
        &--light {
            font-weight: $type-weight-light;
        }

        &--regular {
            font-weight: $type-weight-regular;
        }

        &--bold {
            font-weight: $type-weight-bold;
        }

        &--extra-bold {
            font-weight: $type-weight-extra-bold;
        }
    }

    /* Type colors */
    &--color {
        &--text {
            color: $color-text;
        }

        &--opaque {
            color: color($color-text a(0.4));
        }

        &--primary {
            color: $color-primary;

            &--02 {
                color: $color-primary-02;
            }

            &--04 {
                color: $color-primary-04;
            }

            &--06 {
                color: $color-primary-06;
            }
        }

        &--secondary {
            color: $color-text-secondary;
        }

        &--negative {
            color: white;
        }

        &--warning {
            color: $color-warning;
        }

        &--success {
            color: $color-success;
        }

        &--note {
            color: $color-note;
        }
    }

    &--link {
        &--dark {
            color: $color-text;
            transition: all 300ms $transition;

            &:hover {
                color: $color-primary;
            }
        }
    }

    /* Type case */
    &--uppercase {
        text-transform: uppercase;
    }

    &--lowercase {
        text-transform: lowercase;
    }

    &--space-negative {
        letter-spacing: -0.03em;
    }

    &--narrow {
        letter-spacing: 0.0625em;
    }

    &--wide {
        letter-spacing: 0.125em;
    }

    /* Type positioning */
    &--center {
        text-align: center;
    }

    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }
}
