/*------------------------------------*\
    # utils.width
\*------------------------------------*/

.w {
    &--50 {
        width: 50%;

        &--px {
            width: 50px;
        }
    }

    &--100 {
        width: 100%;

        &--px {
            width: 100px;
        }
    }
}