/*------------------------------------*\
    # utils.radius
\*------------------------------------*/

.u {
    &-radius {
        &--base {
            border-radius: $radius-base;
        }

        &--med {
            border-radius: calc($unit * 2);
        }

        &--full {
            border-radius: $radius-full;
        }
    }
}