/*------------------------------------*\
    # utils.icon
\*------------------------------------*/

.u {
    &-icon {
        display: inline-block;

        background-repeat: no-repeat;
        background-position: center center;
        vertical-align: middle;

        &--sml {
            width: calc($unit * 2);
            height: calc($unit * 2);
        }

        &--med {
            width: calc($unit * 4);
            height: calc($unit * 4);
        }

        &--lrg {
            width: calc($unit * 6);
            height: calc($unit * 6);
        }

        &--xxlrg {
            width: calc($unit * 12);
            height: calc($unit * 12);
        }

        &--logo {
            background-image: svg-load('../postcss-svg/logo.svg', fill: $color-primary);
            height: calc($unit * 7);
        }
    }
}
