/*------------------------------------*\
    # utils.icon
\*------------------------------------*/

.u {
    &-icon {
        display: inline-block;

        background-repeat: no-repeat;
        background-position: center center;
        vertical-align: middle;

        &--sml {
            width: calc($unit * 2);
            height: calc($unit * 2);
        }

        &--med {
            width: calc($unit * 4);
            height: calc($unit * 4);
        }

        &--lrg {
            width: calc($unit * 6);
            height: calc($unit * 6);
        }

        &--xxlrg {
            width: calc($unit * 12);
            height: calc($unit * 12);
        }

        &--case {
            width: calc($unit * 18);
            height: calc($unit * 18);
        }

        &--logo {
            width: calc($unit * 25);
            height: calc($unit * 7);

            background-image: svg-load('assets/postcss-svg/logo.svg');
        }

        &--lines {
            width: 420px;
            height: 100%;

            background-image: svg-load('assets/postcss-svg/lines.svg');

            &--left {
                position: absolute;
                left: 0;
                top: 0;
            }

            &--right {
                position: absolute;
                right: 0;
                top: 0;

                transform: rotate(-180deg);
            }
        }

        &--letters {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;

            width: 100%;
            height: 100%;

            opacity: 0.2;
            background: radial-gradient(75.45% 75.45% at 50% 50%, #0F002D 24.37%, rgba(15, 0, 45, 0.2) 100%);

            background-image: svg-load('assets/postcss-svg/letters.svg');
        }

        &--customer-engagement {
            background-image: svg-load('assets/postcss-svg/use-cases/customer-engagement.svg');
        }

        &--compliance-training {
            background-image: svg-load('assets/postcss-svg/use-cases/compliance-training.svg');
        }

        &--safety-protocols {
            background-image: svg-load('assets/postcss-svg/use-cases/safety-protocols.svg');
        }

        &--diagnostics {
            background-image: svg-load('assets/postcss-svg/use-cases/diagnostics.svg');
        }

        &--employee-onboarding {
            background-image: svg-load('assets/postcss-svg/use-cases/employee-onboarding.svg');
        }

        &--feedback-collection {
            background-image: svg-load('assets/postcss-svg/use-cases/feedback-collection.svg');
        }

        &--insurance {
            background-image: svg-load('assets/postcss-svg/use-cases/insurance.svg');
        }

        &--legal-consultations {
            background-image: svg-load('assets/postcss-svg/use-cases/legal-consultations.svg');
        }

        &--project-management {
            background-image: svg-load('assets/postcss-svg/use-cases/project-management.svg');
        }

        &--safety-protocols {
            background-image: svg-load('assets/postcss-svg/use-cases/safety-protocols.svg');
        }
    }
}
