/*------------------------------------*\
    # vars.elevation
\*------------------------------------*/

/**
 * Elevation colors
 */
$elevation-00: #262729;
$elevation-02: #37383a;
$elevation-04: #3c3d3e;
$elevation-06: #404143;
$elevation-08: #515254;
$elevation-10: #888b91;