/*------------------------------------*\
    # vars.globals
\*------------------------------------*/
/**
 * The $unit variable is a global variable to be used
 * in paddings, margins, for sizing and positioning
 */
$unit: 4px;

/**
    * Global radius and rounded
    */
$radius-full: 1000px;
$radius-base: 6px;
$transition: cubic-bezier(0.65, 0, 0.17, 0.98);
