/*------------------------------------*\
    # vars.typography
\*------------------------------------*/

/**
 * Project base line height
 */
$base-line-height: 24px;

$type-tiny:     12px;
$type-small:    14px;
$type-base:     16px;
$type-medium:   20px;
$type-large:    24px;
$type-xlarge:   28px;
$type-xxlarge:  40px;
$type-xxxlarge: 55px;
$type-xxxxlarge: 76px;

/**
* Type weights
*/
$type-weight-light:      300;
$type-weight-regular:    400;
$type-weight-bold:       700;
$type-weight-extra-bold:       700;

/**
* Font stacks
*/
$ff-sans: 	'Geist', -apple-system, BlinkMacSystemFont,
			"Segoe UI", "Roboto", "Oxygen",
			"Ubuntu", "Cantarell", "Fira Sans",
			"Droid Sans", "Helvetica Neue",
			Helvetica, Arial, sans-serif;
$ff-sans-mono: 	'Geist-mono', -apple-system, BlinkMacSystemFont,
			"Segoe UI", "Roboto", "Oxygen",
			"Ubuntu", "Cantarell", "Fira Sans",
			"Droid Sans", "Helvetica Neue",
			Helvetica, Arial, sans-serif;
$ff-serif:	Georgia, Times, serif;
