<footer  role="contentinfo">
  <!-- Call to action -->
  <div class="section--footer">
      <div class="container container--footer">
          <div class="footer__wrapper">
              <div data-scroll data-scroll-class="locomotive--visible" data-scroll-speed="0.25" class="locomotive--hidden">
                  <ul>
                      <li class="footer__item"><a class="u-anchor--negative" href="/pages/about">Home</a></li>
                      <li class="footer__item"><a class="u-anchor--negative" href="/pages/about">Services</a></li>
                      <li class="footer__item"><a class="u-anchor--negative" href="/showcase/">Showcase</a></li>
                      <li class="footer__item"><a class="u-anchor--negative" href="/blog">Blog</a></li>
                      <li class="footer__item"><a class="u-anchor--negative" href="/pages/about">About us</a></li>
                      <li class="footer__item"><a class="u-anchor--negative" href="/pages/contact">Contact us</a></li>
                      <li class="footer__item"><a class="u-anchor--negative" href="/pages/contact">Careers</a></li>
                  </ul>
              </div>
              <div data-scroll data-scroll-class="locomotive--visible" data-scroll-speed="0.5" class="locomotive--hidden">
                  <ul>
                      <li class="footer__item"><a class="u-anchor--negative" href="/services/custom-software-development/">Web and mobile dev</a></li>
                      <li class="footer__item"><a class="u-anchor--negative" href="/services/user-experience-web-design/">Product design</a></li>
                      <li class="footer__item"><a class="u-anchor--negative" href="/services/user-experience-web-design/">DevOps</a></li>
                      <li class="footer__item"><a class="u-anchor--negative" href="/services/user-experience-web-design/">Quality Assurance</a></li>
                      <li class="footer__item"><a class="u-anchor--negative" href="/services/user-experience-web-design/">Team extension</a></li>
                  </ul>
              </div>
              <div data-scroll data-scroll-class="locomotive--visible" data-scroll-speed="0.75" class="locomotive--hidden">
                  <ul>
                      <li class="footer__item">
                          <p class="footer__item">IT Park 1</p>
                          <p class="footer__item">31000 Osijek</p>
                          <p class="footer__item">Croatia</p>
                          <p class="footer__item">Mono d.o.o.</p>
                      </li>
                      <li class="footer__item">
                          <p class="footer__item">Mail: info@mono-software.com</p>
                          <p class="footer__item">Phone: (+385) (31) 213 966</p>
                          <p class="footer__item">Fax: (+385) (31) 213 967</p>
                      </li>

                  </ul>
              </div>
              <div data-scroll data-scroll-class="locomotive--visible" data-scroll-speed="1" class="locomotive--hidden">
                  <ul>
                      <li class="footer__item"><a class="u-anchor--negative" href="/careers/developers/">Facebook</a></li>
                      <li class="footer__item"><a class="u-anchor--negative" href="/careers/ui-developer/">LinkedIn</a></li>
                      <li class="footer__item"><a class="u-anchor--negative" href="/careers/ui-developer/">Instagram</a></li>
                      <li class="footer__item"><a class="u-anchor--negative" href="/careers/ui-developer/">Twitter</a></li>
                      <li class="footer__item"><a class="u-anchor--negative" href="/careers/ui-developer/">GitHub</a></li>
                      <li class="footer__item"><a class="u-anchor--negative" href="/careers/ui-developer/">Dribbble</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

  <!-- Footer body -->
  <div class="container container--footer">
      <div class="footer__meta">
          <p class="footer__item">Copyright © 2003 - {{ now.Format "2006"}} Mono</p>
          <p class="footer__item"><a class="u-anchor--negative" href="/pages/privacy-policy">Privacy Policy</a> | <a class="u-anchor--negative" href="/pages/terms-of-use">Terms of Use</a></p>
      </div>
  </div>
</footer>

{{ $js := resources.Get "js/bundle.js" }}
<script src="{{ $js.RelPermalink }}"></script>

{{ if isset .Params "customscripts" }}{{ range .Params.customscripts }}
  <script type="text/javascript" src="{{ printf "%s" . }}"></script>
{{ end }}{{ end }}

