<header class="header sticky-header" role="banner">
  <a class="logo" href="/"></a>

  <nav role="navigation" class="nav__wrapper">
    <div class="nav--primary__logo u-mar--bottom--med">
      <a href="/" class="logo"></a>
    </div>
    <ul class="nav--primary">
      <li class="nav--primary__item">
        <a href="/features/" class="nav--primary__item__link">Features</a>
      </li>
      <li class="nav--primary__item">
        <a href="/about/" class="nav--primary__item__link">About</a>
      </li>
      <li class="nav--primary__item">
        <a href="/contact/" class="nav--primary__item__link">Contact</a>
      </li>
      <li class="nav--primary__item">
        <a href="/blog/" class="nav--primary__item__link">Blog</a>
      </li>
      <li class="nav--primary__item">
        <a
          href="https://help.shepherd.vet/en/"
          target="_blank"
          class="nav--primary__item__link"
          >Resources</a
        >
      </li>
      <span class="nav--primary__btns">
        <li class="nav--primary__item">
          <a
            href="https://app.shepherd.vet/"
            target="_blank"
            class="nav--primary__item__link is-login"
            >Log In</a
          >
        </li>
        <li class="nav--primary__item is-special">
          <a
            href="/schedule-a-demo/"
            class="nav--primary__item__link is-special"
            >Schedule demo</a
          >
        </li>
      </span>
    </ul>
  </nav>
  <div class="hamburger"></div>
</header>
