<header role="banner" class="header__wrapper">
    <nav role="navigation" class="header__navigation">
        <div>
            <a href="/" class="header__logo">
                <i class="u-icon u-icon--logo"></i>
            </a>
        </div>

        <ul class="header__navigation__list">
            <li class="header__navigation__item">
                <a href="/features/">Use Cases</a>
            </li>
            <li class="header__navigation__item">
                <a href="/about/">About</a>
            </li>
            <li class="header__navigation__item">
                <a href="/contact/">Contact</a>
            </li>
            <li>
                <a href="/blog/" class="btn btn--sml btn--outline btn--rounded">Sign in</a>
            </li>
        </ul>
    </nav>
</header>
