<header class="header sticky-header" role="banner">
    <nav role="navigation" class="nav__wrapper">
        <div class="nav--primary__logo u-mar--bottom--med">
            <a href="/">
              <i class="u-icon u-icon--sml u-icon--logo"></i>
            </a>
        </div>
        <ul class="nav--primary">
            <li class="nav--primary__item">
                <a href="/features/" class="nav--primary__item__link"
                    >Features</a
                >
            </li>
            <li class="nav--primary__item">
                <a href="/about/" class="nav--primary__item__link">About</a>
            </li>
            <li class="nav--primary__item">
                <a href="/contact/" class="nav--primary__item__link">Contact</a>
            </li>
            <li class="nav--primary__item">
                <a href="/blog/" class="nav--primary__item__link">Blog</a>
            </li>
        </ul>
    </nav>
</header>
